<form method = "post" action = "/change">

	<input type = "number"  name = "money_tendered">

	<input type = "hidden" name = "user_name" value = <%= name %>>

	<input type = "submit">

</form>

