<p id="maintextsize">
</p>
<p class="somecolor">

Hello! Please type in your name to begin.
</p>

<form method = "post" action = "name"> 
	<input type = "text" autofocus="autofocus"   name = "user_name">
	<input type = "submit"> 
</form> 
