Hello <%=name%>. Give me your 3 favorite numbers:
<form method = "post" action = "numbers">
	<input type = "number" name = "num1">
	<input type = "number" name = "num2">
	<input type = "number" name = "num3">
	<input type = "number" name = "user_age" value = <%= age %> hidden>
	<input type="text" name="user_name" 	value = <%= name %> hidden>
	<input type = "submit">	
</form>
