Hello <%= name %>. What is your age?
<form method = "post" action = "age">
	<input type = "number" name = "user_age">
	<input type = "text" name = "user_name" value = <%= name %> hidden>
	<input type = "submit">
</form>
