<!DOCTYPE html>
<head>
	<title>
		MM Personal Banker
	</title>

<link rel="stylesheet" href = "css/style.css"> 

</head>
<body>
	<header>
			
			<ul>
				<li><a href = "/">HOME</a></li>
				<li><a href = "/Contact">CONTACT</a></li>
				<li><a href = "/About">ABOUT</a></li>
				<li><a href = "/History">HISTORY</a></li>
			</ul>
	</header>
		<%= yield %>

	</body>
	<footer><p><a href = "http://www.minedminds.org"target =              	 "_blank">Mined Minds</a><br>&copy; 2016</p>
        </footer>